/*-------------------------
*  Colours variables
*--------------------------*/
$red: #E4033B;

$teal: #39CDCC;
$teal-light: rgba(57, 205, 205, 0.06);

$blue: #213F7D;
$blue-light: #8293b5;
$blue-lighter: #E5E5E5;
$blue-gray: #545F7D;

$white_normal: #fbfbfb;
$white: #fff;

$button-border: rgba(84, 95, 125, 0.15);

/*-------------------------
*  Media Queries
*--------------------------*/
$xs: 480px;
$sm: 740px;
$md: 991px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1700px;
$maxl: 2000px;
