/*-------------------------
*  Colours
*--------------------------*/
$red: #e4033b;

$teal: #39cbca;
$teal-light: #f3fcfc;

$blue: #213f7d;
$blue-light: #8293b5;
$blue-lighter: #e6ebf7;
$blue-gray: #5e6985;

$white_normal: #fbfbfb;
$white: #fff;

