/**======================
USERDETAILED PAGE
========================**/
.UserDetailsHero {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 30px;

    .breadcrumb {
        display: flex;
        gap: 5px;
        align-items: center;
    }

    .detail-actions {
        display: flex;
        justify-content: space-between;

        @media (max-width: $sm){
            align-items: center;
            margin-top: -50px;
        }

        .actions-button {
            display: flex;
            gap: 1.5em;

            @media (max-width: $sm){
                flex-direction: column;;
            }

            button {
                border-radius: 8px;
                padding: 10px 25px 10px 25px;
                outline: none;
                cursor: pointer;
                text-transform: uppercase;
                font-size: 14px;
                background: transparent;
                font-weight: 500;
                transition: 0.2s ease-in;
                    &:hover {
                      transform: scale(1.05);
                    }
                    &:active {
                        transform: scale(1);
                    }
            }
            .blacklist-user {
                border: 1px solid $red;
                color: $red;
            }
            .activate-user {
                border: 1px solid $teal;
                color: $teal;
            }
        }
    }
    .detail-hero {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        background: $white;
        border-radius: 6px;

        .hero-summary {
            display: flex;
            align-items: center;
            gap: 40px;
            padding: 20px;

            @media (max-width: $md){
                flex-direction: column;
            }

            .profile-rating,
            .profile-name,
            .profile-value {
                    display: flex;
                    flex-direction: column;
                }

            .profile-detail {
                display: flex;
                gap: 20px;
                align-items: center;

                @media (max-width: $xs){
                    flex-direction: column;
                }

                .profile-image {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 100%;

                    @media (max-width: $xs){
                        width: 120px;
                    }
                }
                .profile-name {
                    @media (max-width: $xs){
                        align-items: center;
                    }
                    .profile {
                        font-size: 20px;
                        font-weight: 500;
                    }
                    .profile-id {
                        font-size: 16px;
                        color: $blue-gray;
                        font-weight: 400;
                    }
                }
            }
            .profile-rating {
                padding: 20px;
                white-space: nowrap;
                border-left: 2px solid $blue-lighter;
                border-right: 2px solid $blue-lighter;

                @media (max-width: $xs){
                    border-right: none;
                }
            }
            .profile-value {
                .amount {
                    font-size: 20px;
                    font-weight: 550;
                }
                .bank-id {
                    font-size: 13px;
                }
            }
            .profile-right-section {
                display: flex;
                gap: 20px;
                align-items: center;

                @media (max-width: $md){
                    flex-direction: row-reverse;
                }
            }
        }

        .detail-hero-navigation {
            position: relative;
            display: flex;
            margin-top: 25px;
            justify-content: space-around;
            overflow-x: auto;
            gap: 10px;
            font-size: 15px;
            white-space: nowrap;
            -ms-overflow-style: none;  /* Internet Explorer 10+ */
            scrollbar-width: none;  /* Firefox */

            @media (max-width: $md){
                justify-content: start;
            }

            .hero-link {
                position: relative;
                display: flex;
                justify-content: center;
                padding: 0px 10px 10px 10px;

                &.active {
                    color: $teal;
                    &:after {
                        position: absolute;
                        width: 100%;
                        height: 4px;
                        background: $teal;
                        display: block;
		                content: '';
                        bottom: 0;
                    }
                }
                
            }

            &::-webkit-scrollbar { 
                display: none;  /* Safari and Chrome */
            }
        }
    }

    .UserDetailsGeneralDetails {
        display: flex;
        flex-direction: column;
        gap: 30px;
        background: $white;
        padding: 20px;
        border-radius: 6px;
        .details-section {
            display: flex;
            flex-direction: column;
            .header-title {
                font-size: 18px;
                font-weight: 500;
            }
            .detailed-contact {
                display: grid;
                padding-top: 20px;
                text-transform: uppercase;
                color: $blue-gray;
                gap: 20px;

                .slot {
                    display: flex;
                    flex-direction: column;
                    gap: 1px;

                    .header-title {
                        font-size: 12px;
                    }
                    .text {
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        font-size: 16px;
                        color: $blue-gray;
                        font-weight: 550;
                        text-transform: none;
                    }
                }
            }
            .personal-section{
                grid-template-columns: repeat(3, minmax(0, 1fr));

                @media (min-width: $xxl) {
                    grid-template-columns: repeat(4, minmax(0, 1fr));
                }
                @media (min-width: $maxl) {
                    grid-template-columns: repeat(5, minmax(0, 1fr));
                }
                @media (max-width: $sm) {
                    grid-template-columns: repeat(2, minmax(0, 1fr));
                }
                @media (max-width: $xs) {
                    grid-template-columns: repeat(1, minmax(0, 1fr));
                }
            }
            .education-section, .guarantor-section {
                grid-template-columns: repeat(2, minmax(0, 1fr));
                
                @media (min-width: $maxl) {
                    grid-template-columns: repeat(5, minmax(0, 1fr));
                }
                @media (min-width: $lg) {
                    grid-template-columns: repeat(3, minmax(0, 1fr));
                }
                @media (max-width: $sm) {
                    grid-template-columns: repeat(1, minmax(0, 1fr));
                }
            }
            .social-section {
                grid-template-columns: repeat(3, minmax(0, 1fr));
                @media (max-width: $sm) {
                    grid-template-columns: repeat(2, minmax(0, 1fr));
                }
                
            }
        }
        
        
    }

}