.flex {
    display: flex;
}
.flex-row {
    flex-direction: row;
}
.flex-col {
    flex-direction: column;
}
.flex-nowrap {
    flex-wrap: nowrap;
}
.flex-wrap {
    flex-wrap: wrap;
}
.justify-center {
    justify-content: center;
}
.justify-start {
    justify-content: start;
}
.items-center {
    align-items: center;
}

.underline {
    text-decoration: underline
}
.cursor-pointer {
    cursor: pointer;
}
.w-full {
    width: 100%;
}

/*--------------------------------------------------------------
# Variables Base
--------------------------------------------------------------*/
@import '/src/sass/base/variables';
#root {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }

  .visible {
    visibility: visible;
  }
  .hidden {
    display: none;
  }
  a {
    color: $blue-gray;
    text-decoration: none;
    &.active {
        text-decoration: none;  
    }
  }
.horizontal-divider {
    border: 1px solid $blue-lighter;
    width: 100%;
}
.input-data-warning {
    font-size: 12px;
    color: $red;
}


.App {
    position: relative;
    background: $white;
    color: $blue;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;

}
/*--------------------------------------------------------------
# Login Page
--------------------------------------------------------------*/
.login-page {
    width: 100%;
    height: 100vh;
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .login-content {
        position: relative;
        width: 100%;
        flex-direction: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        display: flex;
        gap: 40px;

        .login-description {
            width: 50%;
            height: 100%;
            padding: 5%;

            @media (max-width: $lg) {
                display: none;
            }
        }

        .login-welcome-form{
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            background: $white_normal;

            @media (max-width: $lg) {
                width: 100%;
            }

            .login-form {
                display: flex;
                flex-direction: column;
                padding: 0px 15% 0px 15%;
                gap: 8px;

                @media (max-width: $xs) {
                    padding: 0px 5% 0px 5%;
                }

                    .login-logo {
                        position: absolute;
                        width: 200px;
                        top: 50px;
                        @media (min-width: $lg) {
                            display: none;
                        }
                    }

                p {
                    font-size: 18px;
                    color: $blue-gray;
                    
                    @media (max-width: $xs) {
                        text-align: center;
                    }
                }

                .login-title {
                    font-size: 40px;

                    @media (max-width: $xs) {
                        text-align: center;
                    }
                }

                .form-fields {
                    display: flex;
                    flex-direction: column;
                    gap: 13px;
                    padding-top: 20px;

                    .inputStyle {
                        height: 50px;
                        padding: 0 8px 0 8px;
                        outline: none;
                        background: $white_normal;
                        font-size: 16px;
                        color: $blue-gray;
                        width: 100%;
                        border: none;

                    }
                    .input-login-container {
                        height: 50px;
                        border: 2px solid $button-border;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        border-radius: 8px;
                        transition: 0.2s ease-in;
                        overflow: hidden;
                        transition: 0.2s ease-in;

                        &.warning {
                            border: 2px solid $red;
                            transition: 0.2s ease-in;
                        }
                        .password-show {
                            color: $teal;
                            padding: 0px 25px 0px 15px;
                            font-size: 14px;
                            font-size: 500;
                            text-transform: uppercase;
                            cursor: pointer;
                            background: inherit;
                            transition: 0.2s ease-in;

                            &:active {
                                transform: scale(1.05);
                            }
                        }
                    }

                    .forget-password {
                        text-transform: uppercase;
                        font-weight: 500;
                        cursor: pointer;
                        color: $teal;
                        font-size: 15px;
                    }

                    .form-login-button {
                        background: $teal;
                        color: $white;
                        text-transform: uppercase;
                        border-radius: 8px;
                        height: 50px;
                        border: none;
                        cursor: pointer;
                        transition: 0.2s ease-in;

                        &:hover,
                        &:active {
                            transform: scale(1.05);
                        }
                    }

                }

            }
        }

    }
}
/*--------------------------------------------------------------
# NavBar
--------------------------------------------------------------*/
.navigation-top-bar {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    z-index: 20;
    padding: 0px 16px 0 16px;
    background: $white;
    border-bottom: 1px solid rgba(33, 63, 125, 0.06);
    // @media (max-width: $md) {
    //     justify-content: flex-start;
    // }
    @media (min-width: $xl) {
        box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
        border: none;
    }

    .navbar-left {
        display: flex;
        gap: 100px;

        @media (max-width: $sm) {
            gap: 10px;
            align-items: center;

            .logo-size {
                width: 100px;
            }
        }
        @media (max-width: $md) {
            gap: 10px;
        }
        @media (min-width: $xl) {
            gap: 50px;
        }

        .logo-link {
            height: 20px;
        }
        .search-container {
            width: 100%;
            height: 40px;
            width: 100%;
            display: flex;
            align-items: center;
            border-radius: 8px;

            .search-input {
                border-top: 2px solid $button-border;
                border-bottom: 2px solid $button-border;
                border-left: 2px solid $button-border;
                border-right: none;
                height: 40px;
                width: 400px;
                outline: none;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
                padding: 0px 10px 0px 10px;

                @media (max-width: $md) {
                    display: none;
                }
                @media (max-width: $xl) {
                    width: 320px;
                }
            }

            button {
                display: flex;
                width: 56px;
                height: 100%;
                border: 2px solid $teal;
                background: $teal;
                color: $white;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;

                @media (max-width: $md) {
                    width: 40px;
                    border-radius: 100%;
                }
            }
            
        }
    }

    .navbar-profile {
        display: flex;
        gap: 30px;
        align-items: center;

        @media (max-width: $sm) {
            position: absolute;
            right: 80px;
        }

        .nav-doc {
            text-decoration: underline;
            cursor: pointer;

            @media (max-width: $md) {
                display: none;
            }
        }

        .profile {
            display: flex;
            gap: 10px;
            align-items: center;
            cursor: pointer;

            .profile-name {
                display: flex;
                gap: 5px;
                justify-content: center;
                align-items: center;
            }

            .profile-image {
                img {
                    border-radius: 100%;
                }
            }

            @media (max-width: $sm) {
                display: none;
            }
        }
    }

    .mobile-menu {
        cursor: pointer;

        @media (min-width: $sm) {
            display: none;
        }
    }

}
/*--------------------------------------------------------------
# Dashbord page
--------------------------------------------------------------*/
.dashboard-page {
    position: relative;
    width: 100%;

    .dashboard-page-layout {
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100%;
        gap: 40px;
        background: $white_normal;

        @media (max-width: $xl) {
            width: 100%;
            flex-direction: column;
        }

        .dashboard-layout-sidebar {
            position: relative;
            width: 20%;
            min-width: 283px;
            height: auto;
            background: $white;
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
            margin-top: 75px;

            @media (max-width: $xl) {
                width: 100%;
                min-width: 1366px;
                display: flex;
                align-items: center;
                z-index: 10;
                min-height: 0vh;
            }
            @media (min-width: $xl) {
                min-height: 100vh;
            }

            .navbar-container {
                display: flex;
                flex-direction: column;
                width: 100%;
                padding-top: 20px;
                padding-bottom: 20px;

                @media (max-width: $xl) {
                    flex-direction: row;
                    gap: 30px;
                    align-items: center;
                    padding: 0px 16px 10px 16px;
                }
                .nav-section {
                    display: flex;
                    flex-direction: column;
                    padding-top: 15px;

                    @media (max-width: $xl) {
                        flex-direction: row;
                        gap: 30px;
                        align-items: center;
                    }

                    .nav-title {
                        font-size: 13px;
                        text-transform: uppercase;
                        margin-left: 10%;
                        padding-top: 8px;
                        padding-bottom: 8px;

                        @media (max-width: $xl) {
                            display: none;
                        }
                    }
                    .nav-main {
                        width: 100%;
                        color: $blue-light;
                        display: flex;
                        font-size: 14px;
                        align-items: center;
                        cursor: pointer;

                        @media (max-width: $xl) {
                            display: block;
                        }
    
                            .active-link {
                                position: absolute;
                                width: 4px;
                                height: 40px;
                                background: $teal;

                                @media (max-width: $xl) {
                                    position: relative;
                                    width: 100%;
                                    height: 4px;
                                    top: 40px;
                                }
                            }

                        .nav-link {
                            display: flex;
                            flex-wrap: nowrap;
                            align-items: center;
                            gap: 0.5em;
                            margin-left: 10%;
                            height: 40px;
                            padding-top: 6px;
                            padding-bottom: 6px;

                            @media (max-width: $xl) {
                                width: 100%;
                                height: 30px;
                                padding-top: 0px;
                                padding-bottom: 0px;
                                margin-left: 0%;
                            }
                        }
                        &:hover,
                        &.active {
                            background: $teal-light;
                            @media (max-width: $xl) {
                                background: transparent;
                            }
                        }
                    }
                }

                
            }
        }
        .dashboard-layout-mainbar{
            width: 100%;
            padding: 0em 1em 2em 1em;
            position: relative;

            @media (min-width: $xl) {
                margin-top: 75px;
                padding: 2em 1em 2em 1em;
            }
        }
    }
}
/**==========================
TheUsersPage
=============================
**/
.users-page {
    position: relative;
    width: 100%;

   .users-card-section{
    padding-top: 30px;
     width: 100%;
     display: flex;
     flex-direction: row;
     gap: 26px;
     flex-wrap: wrap;

     .users-card {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 10px;
        // width: 20%;
        width: 240px;
        height: 160px;
        min-width: 240px;
        height: 150px;
        padding: 15px 25px 15px 25px;
        background: $white;
        border-radius: 4px;
        border: 1px solid rgba(33, 63, 125, 0.06);
        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);


        .icon {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            padding: 15px;

            &.no-of-users{
               background: rgba(224, 24, 255, 0.1);
            }
            &.active-users{
                background: rgba(86, 24, 255, 0.1);
            }
            &.users-with-loans {
                background: rgba(245, 95, 68, 0.1); 
            }
            &.users-with-savings {
                background: rgba(255, 51, 102, 0.1);  
            }
        }
        .title {
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 500;
            color: $blue-light;
        }
        .value {
            font-weight: 600;
            font-size: 25px;
        }

     }
   }
   /**=========USERS PAGE TABLE======*/
   .users-table-section {
     display: flex;
     flex-direction: column;
     position: relative;
     width: 100%;
     margin-top: 40px;
     padding: 10px 15px 10px 15px;
     background: $white;
     border-radius: 4px;
     border: 1px solid rgba(33, 63, 125, 0.06);
     box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);

     .table-header {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        gap: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        

        .table-header-title {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            gap: 5px;
            flex-wrap: nowrap;
            font-size: 13px;
            text-transform: uppercase;
            font-weight: 500;
            cursor: pointer;
        }

        .table-filter-modal {
            position: absolute;
            display: flex;
            flex-direction: column;
            gap: 10px;
            left: 10px;
            width: 270px;
            background: $white;
            background: #FFFFFF;
            border: 1px solid rgba(84, 95, 125, 0.14);
            box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
            border-radius: 4px;
            padding: 25px;
            color: $blue-gray;
            z-index: 5;

            .filter-button {
                display: flex;
                flex-direction: column;
                gap: 6px;
                font-size: 14px;
                font-weight: 500;
                line-height: 16px;
                color: $blue-gray;

                .input-filter {
                    width: 100%;
                    height: 40px;
                    border: 2px solid $button-border;
                    border-radius: 8px; 
                    outline: none;
                    padding: 0px 10px 0px 10px;
                    color: $blue-light;
                    font-size: 16px;
                }
            }
            .filter-footer {
                width: 100%;
                display: flex;
                padding-top: 8px;
                justify-content: space-between;
                gap: 15px;

                button {
                    border-radius: 8px;
                    height: 40px;
                    width: 100%;
                    font-size: 16px;
                    outline: none;
                    cursor: pointer;
                    transition: 0.2s ease-in;
                    font-weight: 500;

                    &:hover {
                        transform: scale(1.05);
                    }

                    &.reset-button {
                        border: 2px solid $blue-gray;
                        background: $white;
                        color: $blue-gray;
                    }
                    &.apply-button {
                        border: 2px solid $teal;
                        background: $teal;
                        color: $white;
                    }
                }
            }
        }
     }

    .table-main {
        position: relative;
        display: grid;
        padding-top: 8px;
        padding-bottom: 8px;
        width: 100%;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        gap: 20px;
        border-radius: 5px;

        .table-action-modal {
            position: absolute;
            right: -20px;
            display: flex;
            flex-direction: column;
            background: $white;
            border-radius: 4px;
            font-size: 14px;
            text-transform: capitalize;
            color: $blue-gray;
            top: -40px;
            border: 1px solid rgba(84, 95, 125, 0.04);
            box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
            // transition: 0.2s ease-in;
            z-index: 10;

            .action-modal {
                display: flex;
                gap: 8px;
                align-items: center;
                cursor: pointer;
                padding: 10px 25px 12px 20px;
                transition: 0.2s ease-in;

                &:hover {
                    background: $blue-lighter;
                }
                &:active {
                  transform: scale(1.05);
                  background: $blue-lighter;
                }
            }
        }
     }
     .content {
        color: $blue-light;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex-wrap: wrap;
        font-size: 13px;
        font-weight: 400;

        &.inactive,
        &.pending,
        &.active {
            text-transform: capitalize;
            margin-right: auto;
            padding-right: 10px;
            padding-left: 10px;
            padding-top: 3px;
            padding-bottom: 3px;
            border-radius: 10px;
        }

        &.inactive {
            color: $blue;
            background: $blue-lighter;
        }
        &.pending {
            background: rgba(233, 179, 0, 0.06);
            color: rgb(233, 179, 0);
        }
        &.active {
            background: rgba(57, 205, 99, 0.06);
            color: #39CD62;
        }
     }
     
     .action {
        position: absolute;
        display: flex;
        justify-content: center;
        right: 10px;
        cursor: pointer;
        padding: 5px 11px 5px 11px;
        top: 7px;
        transition: 0.2s ease-in;

        &:hover {
            background: $blue-lighter;
            border-radius: 100%;
        }
        &:active {
            transform: scale(0.9);
        }
     }
   }
   .table-pagination {
     display: flex;
     width: 100%;
     padding-top: 20px;
     justify-content: space-between;
     align-items: center;

     .pagination-size {
        display: flex;
        gap: 10px;
        font-size: 13px;
        color: $blue-light;
        align-items: center;

        .pagination-select {
            outline: none;
            font-weight: 600;
            background: $blue-lighter;
            color: $blue;
            border: none;
            border-radius: 4px;
            padding: 6px 10px 6px 10px;

        }
     }
     .pagination-pages {
        display: flex;
        align-items: center;
        font-size: 15px;
        gap: 15px;

        .pagination-icon {
            width: 100%;
            display: flex;
            align-items: center;
            background: $blue-lighter;
            border-radius: 4px;
            padding: 2px;
            cursor: pointer;
        }
     }
   }
}
/**======================
USERDETAILED PAGE
========================**/
.UserDetailsHero {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 30px;

    .breadcrumb {
        display: flex;
        gap: 5px;
        align-items: center;
    }

    .detail-actions {
        display: flex;
        justify-content: space-between;

        .actions-button {
            display: flex;
            gap: 1.5em;

            button {
                border-radius: 8px;
                padding: 10px 25px 10px 25px;
                outline: none;
                cursor: pointer;
                text-transform: uppercase;
                font-size: 14px;
                background: transparent;
                font-weight: 500;
                transition: 0.2s ease-in;
                &:active {
                    transform: scale(1.05);
                }
            }
            .blacklist-user {
                border: 1px solid $red;
                color: $red;
            }
            .activate-user {
                border: 1px solid $teal;
                color: $teal;
            }
        }
    }
    .detail-hero {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        background: $white;
        border-radius: 6px;

        .hero-summary {
            display: flex;
            align-items: center;
            gap: 40px;
            padding: 20px;

            .profile-rating,
            .profile-name,
            .profile-value {
                    display: flex;
                    flex-direction: column;
                }

            .profile-detail {
                display: flex;
                gap: 20px;
                align-items: center;

                .profile-image {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 100%;
                }
                .profile-name {
                    .profile {
                        font-size: 20px;
                        font-weight: 500;
                    }
                    .profile-id {
                        font-size: 16px;
                        color: $blue-gray;
                        font-weight: 400;
                    }
                }
            }
            .profile-rating {
                padding: 20px;
                border-left: 2px solid $blue-lighter;
                border-right: 2px solid $blue-lighter;
            }
            .profile-value {
                .amount {
                    font-size: 20px;
                    font-weight: 550;
                }
                .bank-id {
                    font-size: 13px;
                }
            }
        }

        .detail-hero-navigation {
            position: relative;
            display: flex;
            flex-wrap: nowrap;
            margin-top: 25px;
            justify-content: space-around;
            overflow-x: auto;
            gap: 10px;
            font-size: 15px;
            padding-bottom: 10px;
            // -ms-overflow-style: none;  /* Internet Explorer 10+ */
            // scrollbar-width: none;  /* Firefox */

            .hero-link {
                padding: 0px 10px 0px 10px;

                &.active {
                    color: $teal;
                }
                
            }

            &::-webkit-scrollbar { 
                display: none;  /* Safari and Chrome */
            }
        }
    }

    .UserDetailsGeneralDetails {
        display: flex;
        flex-direction: column;
        gap: 30px;
        background: $white;
        padding: 20px;
        border-radius: 6px;
        .details-section {
            display: flex;
            flex-direction: column;
            .header-title {
                font-size: 18px;
                font-weight: 500;
            }
            .detailed-contact {
                display: grid;
                padding-top: 20px;
                text-transform: uppercase;
                color: $blue-gray;
                gap: 20px;

                .slot {
                    display: flex;
                    flex-direction: column;
                    gap: 1px;

                    .header-title {
                        font-size: 12px;
                    }
                    .text {
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        font-size: 16px;
                        color: $blue-gray;
                        font-weight: 550;
                        text-transform: none;
                    }
                }
            }
            .personal-section{
                grid-template-columns: repeat(3, minmax(0, 1fr));

                @media (max-width: $sm) {
                    grid-template-columns: repeat(2, minmax(0, 1fr));
                }
                @media (min-width: $xxl) {
                    grid-template-columns: repeat(4, minmax(0, 1fr));
                }
                @media (min-width: $maxl) {
                    grid-template-columns: repeat(5, minmax(0, 1fr));
                }
            }
            .education-section, .guarantor-section {
                grid-template-columns: repeat(2, minmax(0, 1fr));

                @media (min-width: $lg) {
                    grid-template-columns: repeat(3, minmax(0, 1fr));
                }
                @media (min-width: $maxl) {
                    grid-template-columns: repeat(5, minmax(0, 1fr));
                }
            }
            .social-section {
                grid-template-columns: repeat(3, minmax(0, 1fr));
                @media (max-width: $sm) {
                    grid-template-columns: repeat(2, minmax(0, 1fr));
                }
                
            }
        }
        
        
    }

}